/* login.css */
body {
 background-color: #96ceef;
}
/* Background */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  z-index: -1;
}

/* Container */
.container {
  margin-top: 100px;
}

/* Form */
#login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Form Title */
.text-center {
  margin-bottom: 20px;
}

/* Form Fields */
.form-group {
  margin-bottom: 20px;
}

/* Form Button */
.btn-primary {
  width: 100%;
}

/* Form Link */
.text-center a {
  color: #007bff;
}

.text-center a:hover {
  text-decoration: none;
}
